body{
    padding-top: 50px;
    background-image: url("../img/mandalabackground.png");
}

.main-info{
display: flex;
flex-direction: column;
align-items: center;

background-position: center center;
-webkit-background-size: cover;

}

#myText .hello-ya {
    text-align: center;
    font-size: 18px;
}

.hello-ya-kbeer{
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;

}
.sound-mandala{
    margin-left: 10vw;
    width: 630px;
    height: 630px;
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
    display: flex;
    justify-content: space-around;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


.white{
    color: rgb(255, 255, 255);
}

hr {
    width: 50vw;
    border-width: 5px !important;
    border-color: #d8af45 !important;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Dosis');
  @font-face {
    font-family: "Bigdey Demo";
    src: url("../fonts/Bigdey Demo.ttf");
  }
  
  body,
  html {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: Dasis, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  }
 
  
  
  hr.light {
    border-color: rgb(245, 218, 130);
  }
  
  a {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  
  a:hover {
    color: #d8af45;
    text-decoration: none;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Dasis, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  }
  
  .text-faded {
    color: rgb(255, 255, 255);
  }
  
  section {
    padding: 8rem 0;
  }
  
  .section-heading {
    margin-top: 0;
  }
  
  #mainNav {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: #ffffff00;
    font-family: Dasis, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  
  #mainNav .navbar-brand {
    font-weight: 700;
    text-transform: lowercase;
    color: #d8af45;
    font-family: Dasis, Arial, sans-serif;
  }
  
  
  @media (min-width: 992px) {
    #mainNav {
      border-color: transparent;
      background-color: transparent;
    }
    #mainNav .navbar-brand {
      color: #ffffff9d;
    }
  }

  
  @media (min-width: 768px) {
    header.masthead p {
      font-size: 1.15rem;
    }
  }
  
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 4rem;
    }
  }
  
  .service-box {
    max-width: 400px;
  }
  
  
  /*custom*/
  .name {
    font-family: 'Ubuntu', sans-serif;
  }
  


















