@import url('https://fonts.googleapis.com/css?family=Dosis');
@font-face {
  font-family: "Bigdey Demo";
  src: url("../fonts/Bigdey Demo.ttf");
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: Dasis, 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}

.roundedimgs {
  border-radius: 50%;
  max-width: 300px;
  max-height: 300px;
  
}
hr {
  max-width: 500px;
  border-width: 3px;
  border-color: #d8af45;
}

hr.light {
  border-color: rgb(245, 218, 130);
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.white {
  color: #505457;
}

a:hover {
  color: #d8af45;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Dasis, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}

.text-faded {
  color: #80475E;
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #cecece75;
  font-family: Dasis, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 700;
  text-transform: lowercase;
  color: #d8af45;
  font-family: Dasis, Arial, sans-serif;
}


@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: #1a191983;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/background.png");
  background-position: center center;
  -webkit-background-size: cover;
  background-size: cover;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  font-size: 2rem;
}

header.masthead p {
  font-weight: 300;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
}


/*custom*/
.name {
  font-family: 'Ubuntu', sans-serif;
}

/* this is the form styling  */
.formstyle .container {
  background-color:white;
  width: 30%;
 }

.formstyle input, textarea {
  width: 100%;
  padding: 10px; 
  border-radius: 4px;
  margin-top: 6px; 
  margin-bottom: 16px; 
}


.formstyle input[type=submit] {
  color: white;
  padding: 10px;
  border-radius: 8px;
  width: 20%;
  align-items: center;
  
}

